<h1>Temperature u mene</h1>
<div class="col-md-4">
	<h3>Indoor</h3>
	<table class="table">
		<thead>
			<th>°C</th>
			<th>Measure time</th>
		</thead>
		<tbody class="light_measurements">
			<% @indoor.each do |ind| %>
				<tr>
					<td><%= ind.celsius %></td>
					<td><%= ind.measured_at %></td>
				</tr>
			<% end  %>			
		</tbody>
	</table>	
</div>
<div class="col-md-4">
	<h3>Outdoor</h3>
	<table class="table">
		<thead>
			<th>°C</th>
			<th>Measure time</th>
		</thead>
		<tbody class="light_measurements">
			<% @outdoor.each do |outd| %>
				<tr>
					<td><%= outd.celsius %></td>
					<td><%= outd.measured_at %></td>
				</tr>
			<% end  %>			
		</tbody>
	</table>	
</div>

<div class="col-md-4">
	<%= area_chart @indoor_graph.group_by_hour(:measured_at).average(:celsius) %>
	<%= area_chart @outdoor_graph.group_by_hour(:measured_at).average(:celsius) %>
</div>
