<!DOCTYPE html>
<html>
  <head>
    <title>AgrorpiClient</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    	<%= yield %>  		
  	</div>
  </body>
</html>
